.todayborn-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  width: 18.75rem;
  height: auto;
  background-color: var(--color-white);
  padding: 0.625rem;
  border-radius: 0.625rem;
}

.todayborn-page__title {
  font-size: 1.25rem;
  width: 90%;
  padding: 0.625rem;
}

.todayborn-page__list {
  width: 100%;
}

.todayborn-page__clear-all {
  padding: 0.625rem;
  width: 90%;
  font-size: 0.9375rem;
  letter-spacing: 0.125rem;
  border-radius: 0.625rem;
  color: var(--color-white);
  outline: none;
  background-color: var(--color-primary);
  cursor: pointer;
  border: none;
}
